<section class="container">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col col-sm-6">
        <div class="card" style="width: 30rem;">
          <img class="card-img-top" src="http://via.placeholder.com/350x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"><%= listing.address.street %></p>
            <p class="card-text"><%= listing.address.city %> <%= listing.address.state%> <%= listing.address.postcode%></p>
            <%= link_to 'View', listing, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>


