<nav class="navbar fixed-top navbar-expand-lg">

  <%= link_to(root_path, class: "navbar-brand") do %>
    <%= fa_icon "handshake-o", text: "Find Office Space" %> 
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <%= link_to 'Conversations', chat_rooms_path, class: "nav-link" %>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, class: "nav-link" %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "nav-link" %>        
      <% end %>
  </div>
</nav>